body {
   
background-image: url("../img/memphis-mini.png");
  
}

.escudo {
    height: 35px;
}

.escudo2{
    height: 28px;
}

/* ----- COLOR DE LAS TABLAS -----*/

tbody tr:nth-child(even){
    background-color: #DAF7DC;
}
tbody tr:nth-child(odd){
    background-color: #c1f1c3;
}


/* ------ NAVBAR -------*/

.navbar{
    background-color: rgb(248, 246, 246);
}

.nav-item{
    padding-left: 15px;
}
.escudosClasificacion{
    justify-content: space-evenly;
}
.containerTeams{
    width: 100%;
}

@media screen and (max-width: 991px){
    .containerTeams{
        display: none;
    }
}

/* -------------------------------- ESTILOS DEL HOME ------------------------------------- */

.contNoticias{
    margin-top: 90px;
}

.containerNoticia{
    background-color: rgba(129, 128, 128, 0.685);
    border-radius: 15px;
}


.card-body{
    background-color: rgb(248, 246, 246);
}

/* .escudosClasificacion{
    display: flex;
    justify-content: space-between;
    display: inline-block;
} */

.containerTeams li{
    list-style: none;
    /* display: inline-block; */
    
}

/* --------------------------------ESTILOS DE CLASIFICACIÓN --------------------------------*/

.contClasi{
    margin-top: 90px;
}

.titulo{
    text-align: center;
    margin-top: 35px;
    /* border-top: 2px solid rgba(129, 128, 128, 0.329); */
}

.titulo2{
    text-align: center;
    margin-top: 70px;
}

tbody td:nth-child(4){
    background-color: #a2e0a6;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
}
tbody td:nth-child(3){
    text-align: left;
}

.marginCla{
    padding-top: 9px;
}


.bodyTableC tr:nth-of-type(1)>td:first-of-type,
.bodyTableC tr:nth-of-type(2)>td:first-of-type,
.bodyTableC tr:nth-of-type(3)>td:first-of-type,
.bodyTableC tr:nth-of-type(4)>td:first-of-type {
    box-shadow: inset 4px 0 0 0 green;
}
.bodyTableC tr:nth-of-type(5)>td:first-of-type,
.bodyTableC tr:nth-of-type(6)>td:first-of-type{  
    box-shadow: inset 4px 0 0 0 rgb(6, 111, 248);
}
.bodyTableC tr:nth-of-type(7)>td:first-of-type{  
    /* border-left: 3px solid rgb(248, 22, 6);   */
    box-shadow: inset 4px 0 0 0 rgb(241, 126, 73);
}

.bodyTableC tr:nth-of-type(18)>td:first-of-type,
.bodyTableC tr:nth-of-type(19)>td:first-of-type,
.bodyTableC tr:nth-of-type(20)>td:first-of-type {
    box-shadow: inset 4px 0 0 0 rgb(255, 0, 0);
}


.containerLeyenda{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    font-size: 12px;
}
@media screen and (max-width:650px){
    .containerLeyenda{
        width: 80%;
    }
}
.leyenda{
    padding-left: 4px;
}
.champions{
    border-left: 3px solid green;
}

.europa{
        border-left: 3px solid rgb(6, 111, 248);
}
.conference{
    border-left: 3px solid rgb(241, 126, 73);
}

.descenso{
    border-left: 3px solid rgb(255, 0, 0);
}

.containerLeyenda2{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 12px;
}
@media screen and (max-width:650px){
    .containerLeyenda2{
        width: 80%;
    }
}
.leyenda2{
    margin-left: 15px;
}
.containerLeyenda2Margin{
    margin-top: -15px;
}
.leyendaNegrita{
    font-weight: bold;
}
/* ------------------------------ ESTILOS DE RESULTADO ------------------------- */
.contResul{
    margin-top: 90px;
}

.numJornada {
    text-align: center;
}

.pts{
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
    
}
.tablaResult2 p{
    padding-top: 15px;
    
}

.marginC{
    text-align: center;
}


/* ----- Input de filtros */
.containerInput{
    width: 70%;
    margin: auto;
   margin-bottom: 15px;
   display: flex;
   justify-content: space-between; 
   align-items: center;
   flex-wrap: wrap;
}

.botonReset1{
    background-color: rgb(245, 143, 143);
    border: none;
    color: #fff;
    border-radius: 15px;
    padding: 3px 10px;
    margin-left: 15px;
}
.tituloBusqueda{
    font-size: 15px;
    margin: 0;
}

.containerJornada{
    display: flex;
    flex-direction: flex-start;
}

.logoResut{
    width: 230px;
    height: 80px;
}

.logoCampo{
    width: 200px;
    height: 90px;
    border-radius: 15px;
    opacity: 0.8;
}

@media screen and (max-width:1080px){
    .logoCampo{
        display: none;
    }
}
@media screen and (max-width:800px){
    .containerInput{
        justify-content: center;
    }
}

/* ---------- SPINNER -------------*/

.containerSpinner{
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 70px solid #fff;
    border-color: rgb(94, 92, 92) transparent #91f594 transparent;
    /* border-color: #b4f5b8 transparent #6cf070 transparent; */
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }


  /* ------------- FOOTER --------------*/

  .footer-dark {
    margin-top: 75px;
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282d32;
  }
  
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  

  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }

  .containerTitFooter{
      display: flex;
      justify-content: center;
  }
  .footerCopy{
    color:#f0f9ff;
    opacity:0.75;
  }